src/clock.json
[{"id":"7f416d2.5a47a94","type":"tab","label":"Clock_HackAichi2020","disabled":false,"info":""},{"id":"31a38cdc.20e814","type":"template","z":"7f416d2.5a47a94","name":"clock_js","field":"js.clock_js","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// 時計のメインとなる関数\nfunction clock()\n{\n    // 曜日を表す各文字列の配列\n    var weeks = new Array(\"Sun\",\"Mon\",\"Thu\",\"Wed\",\"Thr\",\"Fri\",\"Sat\");\n    // 現在日時を表すインスタンスを取得\n    var now = new Date();\n    // 年\n    var y = now.getFullYear();\n    // 月 0~11で取得されるので実際の月は+1したものとなる\n    var mo = now.getMonth() + 1;\n    // 日\n    var d = now.getDate();\n    // 曜日 0~6で日曜始まりで取得されるのでweeks配列のインデックスとして指定する\n    var w = weeks[now.getDay()];\n    // 時\n    var h = now.getHours();\n    // 分\n    var mi = now.getMinutes();\n    // 秒\n    var s = now.getSeconds();\n\n    // 日付時刻文字列のなかで常に2ケタにしておきたい部分はここで処理\n    if (mo < 10) mo = \"0\" + mo;\n    if (d < 10) d = \"0\" + d;\n    if (mi < 10) mi = \"0\" + mi;\n    if (s < 10) s = \"0\" + s;\n\n    //　HTML: <span id=\"clock_date\">(ココの日付文字列を書き換え)</span>\n    document.getElementById(\"clock_date\").innerHTML =  y + \"/\" + mo + \"/\" + d + \" (\" + w + \")\";\n    //　HTML: <span id=\"clock_time\">(ココの時刻文字列を書き換え)</span>\n    document.getElementById(\"clock_time\").innerHTML = h + \":\" + mi + \":\" + s;\n    //　HTML: <div id=\"clock_frame\"> の内部要素のフォントサイズをウインドウサイズの10分の1ピクセルに設定\n    document.getElementById(\"clock_frame\").style.fontSize =  window.innerWidth / 10 + \"px\";\n}\n\n// 上記のclock関数を1000ミリ秒ごと(毎秒)に実行する\nsetInterval(clock, 1000);","output":"str","x":260,"y":100,"wires":[["56d7ead2.6fc1b4"]]},{"id":"8540ebc8.67f2a8","type":"http in","z":"7f416d2.5a47a94","name":"","url":"clock","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["31a38cdc.20e814"]]},{"id":"56d7ead2.6fc1b4","type":"template","z":"7f416d2.5a47a94","name":"style_css","field":"css.style_css","fieldType":"msg","format":"css","syntax":"mustache","template":"/* Google Webフォントを利用設定するCSSをインポート */\n@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);\n\n/* body要素(全体) */\nbody\n{\n    /* 文字色を白に */\n    color: white;\n    /* 背景色を黒に */\n    background-color: black;\n}\n\n/* id=\"clock_frame\" のdiv要素 */\ndiv#clock_frame\n{\n    /* 横幅を親要素であるbodyの100%(同じ幅)にする */\n    width: 100%;\n}\n\n/* span要素のデフォルト */\nspan\n{\n    /* 本来はインライン要素であるspanをブロック要素として扱う */\n    display: block;\n    /* ここでは親要素であるdivの内部で右に寄せて配置させる */\n    float: right;\n    /* 横幅を親要素であるdivの85%にする */\n    width: 85%;\n    /* フォントの種類を一番上で指定したGoogle Webフォントに設定する */\n    font-family: 'Oleo Script Swash Caps', cursive;\n}\n\n/* id=\"clock_date\" のspan要素 */\nspan#clock_date\n{\n    /* この要素の中におけるテキストを右詰めにする デフォルト値のtext-align:leftを上書き */\n    text-align: right;\n    /* フォントの大きさを親要素であるdivで設定されたサイズ(px)の0.5倍にする */\n    font-size: 0.5em;\n    /* 右のパディングの幅を親要素であるdivで設定されたフォントサイズ(px)の0.5倍にする */\n    padding-right: 0.5em;\n}\n\n/* id=\"clock_time\" のspan要素 */\nspan#clock_time\n{\n    /* フォントの大きさを親要素であるdivで設定されたサイズ(px)の2倍にする */\n    font-size: 2em;\n}","output":"str","x":420,"y":100,"wires":[["62407a8.565db84"]]},{"id":"62407a8.565db84","type":"template","z":"7f416d2.5a47a94","name":"index_html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <!-- 文字コードの宣言 -->\n    <meta charset=\"UTF-8\">\n    <!-- ページのタイトル(ブラウザのタイトルバーに表示) -->\n    <title>Clock</title>\n    <!-- スタイルシート(CSS)読み込み -->\n    <style>{{{css.style_css}}}</style>\n    <!-- JavaScript読み込み -->\n    <script>{{{js.clock_js}}}</script>\n</head>\n\n<body>\n    <!-- 時計枠 -->\n    <div id=\"clock_frame\">\n        <!-- 日付部分 -->\n        <span id=\"clock_date\"></span>\n        <!-- 時刻部分 -->\n        <span id=\"clock_time\"></span>\n    </div>\n</body>\n\n</html>","output":"str","x":590,"y":100,"wires":[["27a974a0.938d6c"]]},{"id":"27a974a0.938d6c","type":"http response","z":"7f416d2.5a47a94","name":"","statusCode":"","headers":{},"x":750,"y":100,"wires":[]},{"id":"5e67e84a.96ec18","type":"comment","z":"7f416d2.5a47a94","name":"時刻表示","info":"","x":80,"y":52,"wires":[]}]