src/video_chat.json
[{"id":"e03a8c53.e9de2","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"db92f0d.69f2b1","type":"http in","z":"e03a8c53.e9de2","name":"","url":"/video-chat","method":"get","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["3bb7b540.29a43a"]]},{"id":"79659b9f.d7b6e4","type":"http response","z":"e03a8c53.e9de2","name":"","statusCode":"","headers":{},"x":1150,"y":280,"wires":[]},{"id":"3ea87a8b.a55ba6","type":"template","z":"e03a8c53.e9de2","name":"video_chat_js","field":"video_chat","fieldType":"msg","format":"javascript","syntax":"mustache","template":"const Peer = window.Peer;\nvar room_ID = \"test\";\ndocument.getElementById(\"room_ID\").textContent = room_ID;\n\n\n(async function main() {\n  const localVideo = document.getElementById('js-local-stream');\n  const remoteVideos = document.getElementById('js-remote-streams');\n  const sdkSrc = document.querySelector('script[src*=skyway]');\n\n  \n  const status = document.getElementById(\"status\").textContent;\n  console.log(status);\n  const idList = JSON.parse(document.getElementById(\"ID\").textContent);\n  console.log(idList.length);\n  \n  const getRoomModeByHash = () => 'sfu';\n\n  const localStream = await navigator.mediaDevices\n    .getUserMedia({\n      audio: true,\n      video: true,\n    })\n    .catch(console.error);\n\n  // Render local stream\n  localVideo.muted = true;\n  localVideo.srcObject = localStream;\n  localVideo.playsInline = true;\n  await localVideo.play().catch(console.error);\n\n  // eslint-disable-next-line require-atomic-updates\n  const peer = (window.peer = await new Peer({\n    key: '7db51739-88e6-4d2b-95a7-d73a4ab6c5dc',\n    debug: 3,\n  }));\n\n  peer.on('open',() => {\n      peerList = []\n      peer.listAllPeers((peers) => {\n        peerList = peers\n        console.log(peers);\n      \n      \n      var selectData = new Array();\n      var roomIDList = new Array();\n      for(var i = 0; i < idList.length; i++){\n        var idData = idList[i];\n        roomIDList.push(idData.room_name);\n        console.log(idData);\n        if(idData.peerIDs.length == 1){\n            if(peerList.includes(idData.peerIDs[0])){\n            }else{\n              console.log(\"else in\");\n              var delData = new XMLHttpRequest();\n              var delText = JSON.stringify(idData);\n              delData.open(\"DELETE\", \"http://127.0.0.1:1880/deletebhfsjfaBYHUBHfvhre3487265ghivgsvr7gvegfry\");\n              delData.send(delText); \n              continue;\n            }\n        } \n        if(idData.peerIDs.length < 4){\n            if(idData.room_status == status){\n                selectData.push(idData);\n            }\n        }\n        \n      }\n      var S=\"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\n      var N=16;\n      \n      console.log(selectData);\n      var newFlag = true;\n      if(selectData.length > 0){\n        var newNum = Math.floor( Math.random() * 2 );\n        var num = Math.floor( Math.random() * (selectData.length + newNum ) );\n        console.log(\"num : \" + num);\n        \n        // ランダムで部屋を外した場合\n        if(selectData.length == num){\n          room_ID = Array.from(Array(N)).map(()=>S[Math.floor(Math.random()*S.length)]).join('');\n          while(roomIDList.includes(room_ID)){\n            room_ID = Array.from(Array(N)).map(()=>S[Math.floor(Math.random()*S.length)]).join('');  \n          }\n          document.getElementById(\"room_ID\").textContent = room_ID;\n          var myRoomInfo = {\n              \"room_name\": room_ID,\n              \"peerIDs\" : [peer.id],\n              \"room_status\": status\n          };\n          console.log(\"room_ID_1 : \" + room_ID);\n        }\n        \n        // ランダムに部屋を選べた場合\n        else{\n          room_ID = selectData[num].room_name;\n          document.getElementById(\"room_ID\").textContent = room_ID;\n          console.log(\"room_ID_2 : \" + room_ID);\n          var myRoomInfo = selectData[num];\n          myRoomInfo.peerIDs.push(peer.id); \n          newFlag = false;\n        }\n      }\n      // roomがない場合\n      else{\n        room_ID = Array.from(Array(N)).map(()=>S[Math.floor(Math.random()*S.length)]).join('');\n        while(roomIDList.includes(room_ID)){\n          room_ID = Array.from(Array(N)).map(()=>S[Math.floor(Math.random()*S.length)]).join('');  \n        }\n        document.getElementById(\"room_ID\").textContent = room_ID;\n        var myRoomInfo = {\n          \"room_name\": room_ID,\n          \"peerIDs\" : [peer.id],\n          \"room_status\": status\n        };\n        console.log(\"room_ID_3 : \" + room_ID);\n      }\n      \n      \n  \n\n        const room = peer.joinRoom(room_ID, {\n          mode: getRoomModeByHash(),\n          stream: localStream,\n        });\n    \n        room.once('open', () => {\n            if(newFlag){\n              var xhr = new XMLHttpRequest();\n              var jsonText = JSON.stringify(myRoomInfo);\n              xhr.open(\"POST\", \"http://127.0.0.1:1880/aewrtfgvbygu987ZSNMhijGHVjhc786548ijGFDghb\");\n              xhr.send(jsonText);                \n            }\n\n        });\n    \n        // Render remote stream for new peer join in the room\n        room.on('stream', async stream => {\n          const newVideo = document.createElement('video');\n          newVideo.srcObject = stream;\n          newVideo.playsInline = true;\n          // mark peerId to find it later at peerLeave event\n          newVideo.setAttribute('data-peer-id', stream.peerId);\n          remoteVideos.append(newVideo);\n          await newVideo.play().catch(console.error);\n        });\n    \n        room.on('peerJoin', peerId => {\n          console.log(\"peerId : \" + peerId);\n          var request = new XMLHttpRequest();\n          request.open('GET', '/getDatasdfghjk456tyghfrtyuijhkgftyuijh', false); \n          request.send();\n        \n          if (request.status === 200) {\n            var Data = JSON.parse(request.responseText);\n            console.log(JSON.parse(request.responseText));\n          }\n          for(var i = 0; i < Data.length; i++){\n              if(Data[i].room_name == room_ID){\n                  var roomData = Data[i];\n                  break;\n              }\n          }\n          roomData.peerIDs.push(peerId);\n          var post = new XMLHttpRequest();\n          var jsonDATA = JSON.stringify(roomData);\n          post.open(\"POST\", \"http://127.0.0.1:1880/aewrtfgvbygu987ZSNMhijGHVjhc786548ijGFDghb\");\n          post.send(jsonDATA);            \n          \n        });\n    \n        // for closing room members\n        room.on('peerLeave', peerId => {\n          const remoteVideo = remoteVideos.querySelector(\n            `[data-peer-id=\"${peerId}\"]`\n          );\n          var peer_ID = peerId;\n          var request = new XMLHttpRequest();\n          request.open('GET', '/getDatasdfghjk456tyghfrtyuijhkgftyuijh', false); \n          request.send();\n        \n          if (request.status === 200) {\n            var Data = JSON.parse(request.responseText);\n            console.log(Data);\n          }\n          for(var i = 0; i < Data.length; i++){\n              if(Data[i].room_name == room_ID){\n                  var roomData = Data[i];\n                  break;\n              }\n          }\n          var post = new XMLHttpRequest();\n          var jsonDATA = JSON.stringify(roomData);\n          post.open(\"POST\", \"http://127.0.0.1:1880/aewrtfgvbygu987ZSNMhijGHVjhc786548ijGFDghb\");\n          post.send(jsonDATA); \n           \n          remoteVideo.srcObject.getTracks().forEach(track => track.stop());\n          remoteVideo.srcObject = null;\n          remoteVideo.remove();\n        });\n    \n    });\n  });\n  peer.on('error', console.error);\n})();","output":"str","x":620,"y":280,"wires":[["e2ad7fbd.92de3"]]},{"id":"e2ad7fbd.92de3","type":"template","z":"e03a8c53.e9de2","name":"style_css","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"/* normalize */\nbody { \n    margin: 0; \n    position: relative;\n    width: 100%;\n    min-height: 100vh;\n}\n\n/* global styles */\nvideo {\n  background-color: #111;\n  width: 100%;\n}\n.data {\n  display: none;\n}\n.heading {\n  text-align: center;\n  margin-bottom: 0;\n}\n\n.note {\n  text-align: center;\n}\n\n.meta {\n  text-align: center;\n  font-size: .8rem;\n  color: gray;\n}\n\n.container {\n  margin-left: auto;\n  margin-right: auto;\n  width: 980px;\n}\n\n/* p2p-media styles */\n.p2p-media {\n  display: flex;\n  align-items: center;\n  flex-direction: column;\n}\n\n.p2p-media .remote-stream {\n  width: 50%;\n}\n\n.p2p-media .local-stream {\n  width: 30%;\n}\n\n/* p2p-data styles */\n.p2p-data {\n  display: grid;\n  grid-template-columns: 30% 1fr;\n  margin: 0 8px;\n}\n\n.p2p-data .messages {\n  background-color: #eee;\n  min-height: 100px;\n  padding: 8px;\n  margin-top: 0;\n}\n\n/* room */\n.room {\n  display: grid;\n  grid-template-columns: 30% 40% 30%;\n  gap: 8px;\n  margin: 0 8px;\n}\n\n.room .remote-streams {\n  background-color: #f6fbff;\n}\n\n.room .messages {\n  background-color: #eee;\n  min-height: 100px;\n  padding: 8px;\n  margin-top: 0;\n}\n","output":"str","x":800,"y":280,"wires":[["f51f4052.3f377"]]},{"id":"f51f4052.3f377","type":"template","z":"e03a8c53.e9de2","name":"video_chat_html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>SkyWay - Room example</title>\n    <style>{{{style}}}</style>\n  </head>\n  <body>\n    <p id=\"ID\" class=\"data\">{{{ID}}}</p>\n    <p id=\"status\" class=\"data\">{{{req.query.status}}}</p>\n    <p id=\"room_ID\" class=\"data\">{{{room_ID}}}</p>\n    <div class=\"container\">\n      <div class=\"room\">\n        <div>\n          <video id=\"js-local-stream\"></video>\n        </div>\n\n        <div class=\"remote-streams\" id=\"js-remote-streams\"></div>\n      </div>\n    </div>\n    <script src=\"//cdn.webrtc.ecl.ntt.com/skyway-latest.js\"></script>\n    <script>{{{video_chat}}}</script>\n  </body>\n</html>","output":"str","x":980,"y":280,"wires":[["79659b9f.d7b6e4"]]},{"id":"5a275f4.1bf7fa","type":"http in","z":"e03a8c53.e9de2","name":"[POST] roomID_insert","url":"/aewrtfgvbygu987ZSNMhijGHVjhc786548ijGFDghb","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["6da20933.8501c8","d6090926.af00c8"]]},{"id":"6da20933.8501c8","type":"http response","z":"e03a8c53.e9de2","name":"","statusCode":"","headers":{},"x":330,"y":220,"wires":[]},{"id":"d6090926.af00c8","type":"cloudant out","z":"e03a8c53.e9de2","name":"","cloudant":"4eb4c871.06f4d8","database":"room_id","service":"_ext_","payonly":true,"operation":"insert","x":320,"y":180,"wires":[]},{"id":"3bb7b540.29a43a","type":"cloudant in","z":"e03a8c53.e9de2","name":"","cloudant":"4eb4c871.06f4d8","database":"room_id","service":"_ext_","search":"_all_","design":"","index":"","x":280,"y":280,"wires":[["4bf23076.a0c57"]]},{"id":"4bf23076.a0c57","type":"function","z":"e03a8c53.e9de2","name":"","func":"msg.ID = JSON.stringify(msg.payload);\nmsg.room_ID = '';\nconsole.log(msg.ID);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["3ea87a8b.a55ba6"]]},{"id":"507faa94.58caf4","type":"http response","z":"e03a8c53.e9de2","name":"","statusCode":"","headers":{},"x":330,"y":120,"wires":[]},{"id":"86fe2ae7.53ba38","type":"http in","z":"e03a8c53.e9de2","name":"[DELETE] roomID_delete","url":"/deletebhfsjfaBYHUBHfvhre3487265ghivgsvr7gvegfry","method":"delete","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["507faa94.58caf4","c5f79227.26fad"]]},{"id":"c5f79227.26fad","type":"cloudant out","z":"e03a8c53.e9de2","name":"","cloudant":"4eb4c871.06f4d8","database":"room_id","service":"_ext_","payonly":false,"operation":"delete","x":320,"y":80,"wires":[]},{"id":"4b10678f.0e3fd8","type":"http in","z":"e03a8c53.e9de2","name":"getData","url":"/getDatasdfghjk456tyghfrtyuijhkgftyuijh","method":"get","upload":false,"swaggerDoc":"","x":490,"y":220,"wires":[["84fd6c10.acbbb"]]},{"id":"74a60d4.09beff4","type":"http response","z":"e03a8c53.e9de2","name":"","statusCode":"","headers":{},"x":950,"y":220,"wires":[]},{"id":"975699e4.ee4668","type":"function","z":"e03a8c53.e9de2","name":"","func":"msg.ID = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":220,"wires":[["74a60d4.09beff4"]]},{"id":"84fd6c10.acbbb","type":"cloudant in","z":"e03a8c53.e9de2","name":"","cloudant":"4eb4c871.06f4d8","database":"room_id","service":"_ext_","search":"_all_","design":"","index":"","x":640,"y":220,"wires":[["975699e4.ee4668"]]},{"id":"4eb4c871.06f4d8","type":"cloudant","host":"6b86dfb4-c713-468e-981b-add4110e67cf-bluemix.cloudant.com","name":"Cloudant-Aichi"}]